/* ---------------------------------------- */
/* imported reset                           */
/* ---------------------------------------- */

@import url(./reset.scss);

/* ---------------------------------------- */
/* variables, selection, scrollbar          */
/* ---------------------------------------- */

:root {
  --clr-primary-100: 0, 0%, 0%;
  --clr-primary-200: 0, 0%, 20%;
  --clr-primary-900: 0, 0%, 100%;

  --clr-accent: 0, 0%, 33%;

  --ff-primary: 'Montserrat', sans-serif;

  --fw-300: 300;
  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;

  --fs-300: 1rem;
  --fs-400: 1.125rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-650: 2rem;
  --fs-700: 2.5rem;
  --fs-800: 3rem;
  --fs-900: 3.5rem;

  --size-s: .25rem;

  --timing-function-primary: ease-in;
  --transition-time-primary: 200ms;
}

::selection {
  background-color: hsl(var(--clr-primary-900));
  color: hsl(var(--clr-primary-100));
}

::-webkit-scrollbar {
  width: var(--size-s);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(var(--clr-primary-900));
}

/* ---------------------------------------- */
/* body and root                            */
/* ---------------------------------------- */

body {
  background-color: hsl(var(--clr-primary-100));
  color: hsl(var(--clr-primary-900));
  font-family: var(--ff-primary);
  font-weight: var(--fw-400);
  font-size: var(--fs-400);
  padding: 45px 0 60px;
}

.container {
  --width: 50rem;
  --padding: 1rem;

  width: min(var(--width), 100% - 1rem);
  margin-inline: auto;
}

#root {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

#root:has(.header-profile) {
  place-items: start;
}

#root:has(.search) {
  place-items: start;
}

/* ---------------------------------------- */
/* auth component                           */
/* ---------------------------------------- */

.auth {
  display: grid;
  gap: 2rem;
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;

  background-color: hsl(var(--clr-primary-200), .4);

  .img-container {
    display: flex;
    margin-bottom: 4rem;
  }

  &__logo {
    max-width: 142px;
  }

  &__header {
    font-size: var(--fs-700);
    font-weight: var(--fw-700);
  }

  &__signin {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    padding: .75rem 2rem;

    background-color: hsl(var(--clr-primary-100));
    color: hsl(var(--clr-primary-900));
    font-weight: var(--fw-600);

    border-radius: 100vmax;
    border: 1px solid hsl(var(--clr-primary-900));

    transition: all var(--transition-time-primary) var(--timing-function-primary);
    cursor: pointer;
  }

  &__signin:hover {
    background-color: hsl(var(--clr-primary-900));
    color: hsl(var(--clr-primary-100));
  }

  .signin-icon {
    max-width: 25px;
  }
}

/* ---------------------------------------- */
/* header component                         */
/* ---------------------------------------- */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 40px;
  padding: 0 0 41px;

  border-bottom: 1px solid hsl(var(--clr-accent), .7);

  &__logo {
    max-width: 142px;
  }

  &__search {
    text-decoration: none;
    color: inherit;
    font-weight: var(--fw-600);
    display: flex;
    gap: .5rem;
    opacity: .5;
    transition: all 200ms ease-in;

    &:hover {
      opacity: 1;
    }
  }

  &__icon {
    width: 30px;
    height: 30px;
    object-fit: cover;
  }

  &__routes {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.header-profile__link {
  width: 40px;
  aspect-ratio: 1;
  transition: opacity 200ms ease-in;

  &:hover {
    opacity: .6;
  }
}

.icons-wrapper {
    display: flex;
    gap: 1rem;
  }

@media (max-width: 890px) {
  .header {
    padding: 0 27px 31.6px;
    margin-bottom: 42px;
  }

  .header__logo {
    max-width: 103px;
  }
}

/* ---------------------------------------- */
/* profile component                        */
/* ---------------------------------------- */

.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 0 50px;
  padding: 0;
  box-sizing: border-box;

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 30px;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  &__avatar {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    display: block;
    width: 120px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 100vmax;
  }

  &__info {
    display: grid;
    gap: 16px;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  &__add-button {
    width: min(150px, 100%);
    height: 50px;
    background: transparent url(../assets/pluss.svg) no-repeat center;
    border: 2px solid hsl(var(--clr-primary-900));
    border-radius: 2px;
    transition: opacity 200ms ease-in;
    cursor: pointer;

    &:hover {
      opacity: .6;
    }
  }

  &__info-wrapper {
    display: flex;
    gap: 18px;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  &__header {
    font-weight: var(--fw-600);
    font-size: var(--fs-700);
    line-height: 48px;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 294px;
  }

  .profile__edit-button {
    background: transparent url(../assets/edit.svg) no-repeat center;
    background-size: cover;
    border: none;
    width: 24px;
    aspect-ratio: 1;
    transition: opacity 200ms ease-in;
    cursor: pointer;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .profile__edit-button:hover {
    opacity: .6;
  }
}

@media (max-width: 890px) {
  .profile {
    padding-inline: 19px;
  }
}

@media (max-width: 690px) {
  .profile {
    flex-direction: column;
    gap: 34px;
    text-align: center;
    padding-inline: 19px;

    margin: 0 0 36px;

    &__wrapper {
      gap: 26px;
      flex-direction: column;
    }

    &__info {
      gap: 14px;
    }

    &__info-wrapper {
      gap: 10px;
    }

    &__add-button {
      width: 100%;
      background-size: 16px;
    }

    &__header {
      font-size: 27px;
      line-height: 26px;
      max-width: 189px;
    }
  }
}

/* ---------------------------------------- */
/* cards component                          */
/* ---------------------------------------- */

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  text-overflow: ellipsis;
  column-gap: 17px;
  row-gap: 20px;

  margin: 0 0 66px;
}

@media (max-width: 890px) {
  .cards {
    padding-inline: 19px;
    margin-bottom: 48px;
  }
}

/* ---------------------------------------- */
/* card component                           */
/* ---------------------------------------- */

.card {
  background-color: hsl(var(--clr-primary-900));
  color: hsl(var(--clr-primary-100));
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  isolation: isolate;

  &__image {
    display: block;
    width: 100%;
    height: 282px;
    object-fit: cover;
    transition: all 200ms ease-in;
    position: relative;
    z-index: 1;
  }

  &__delete {
    position: absolute;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    background: transparent url(../assets/close.svg) no-repeat center;
    background-size: contain;
    border: none;
    width: 20px;
    aspect-ratio: 1;
    opacity: 0;
    cursor: pointer;
    transition: all 200ms ease-in;
  }

  &:hover &__delete {
    opacity: .3;
  }

  &:hover &__delete:hover {
    opacity: 1;
  }

  &__like {
    width: 22px;
    height: 19px;
    border: none;
    background: transparent no-repeat center;
    background-size: cover;
    transition: opacity 200ms ease-in;
    cursor: pointer;

    &:hover {
      opacity: .5;
    }
  }

  &__action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 15px 31px 21px;
    position: relative;
    z-index: 1000;
  }

  &__description {
    font-weight: var(--fw-700);
    font-size: var(--fs-600);
    line-height: 29px;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 195px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

@media (max-width: 890px) {
  .card__image {
    max-height: 300px;
  }

  .card__delete {
    opacity: 1;
  }
}

@media (max-width: 320px) {
  .card__image {
    height: 282px;
  }
}

/* ---------------------------------------- */
/* footer component                         */
/* ---------------------------------------- */

.footer__mesto {
  color: hsl(var(--clr-accent));
  font-size: var(--fs-300);
  line-height: 22px;
}

@media (max-width: 890px) {
  .footer {
    padding-left: 19px;
  }

  .footer__mesto {
    font-size: 14px;
    line-height: 17px;
  }
}

/* ---------------------------------------- */
/* popup                                    */
/* ---------------------------------------- */

.popup {
  position: fixed;
  display: none;
  place-items: center;
  inset: 0;
  transition: display 200ms ease-in;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: hsl(var(--clr-primary-100), .5);
    z-index: var(--z-300);
  }

  &__container {
    position: relative;
    isolation: isolate;
    background-color: hsl(var(--clr-primary-900));
    color: hsl(var(--clr-primary-100));
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    transition: display 200ms ease-in;

    z-index: 1000;
    width: min(430px, 100% - 38px);

    padding: 34px 36px 37px;
  }

  &__form {
    display: grid;
  }

  &__close {
    --positioning: -40px;

    position: absolute;
    right: var(--positioning);
    top: var(--positioning);

    background: transparent url(../assets/close.svg) no-repeat center;
    border: none;
    width: 32px;
    aspect-ratio: 1;

    cursor: pointer;
    transition: opacity 200ms ease-in;

    &:hover {
      opacity: .6;
    }
  }

  &_opened {
    display: grid;
    transition: all 200ms ease-in;
  }

  &__header {
    font-weight: var(--fw-700);
    font-size: var(--fs-600);
    line-height: 29px;

    margin: 0 0 54px;
  }

  &__submit {
    border: none;
    border-radius: 2px;
    background: hsl(var(--clr-primary-100));
    color: hsl(var(--clr-primary-900));
    font-size: var(--fs-300);
    text-align: center;
    line-height: 22px;

    padding: 12px 0 16px;

    transition: opacity 200ms ease-in;
    cursor: pointer;

    &:hover {
      opacity: .8;
    }
  }

  &__inputs {
    display: grid;
    gap: 27px;
    margin-bottom: 40px;
  } 

  &__input {
    background: transparent;
    border: none;
    border-bottom: 1px solid hsl(var(--clr-primary-100), .2);
    font-size: 14px;
    line-height: 17px;

    padding: 0 0 13px;
  }
}

.popup__input:focus,
.popup__input:focus-visible {
  outline: none;
}

.popup__input::selection {
  background-color: black;
  color: white;
}

@media (max-width: 550px) {
  .popup__close {
    --positioning: -35px;

    width: 20px;
    right: 0px;
    background-size: contain;
  }
}

@media (max-width: 420px) {
  .popup__container {
    padding: 25px 22px;
  }

  .popup__header {
    font-size: var(--fs-300);
    line-height: 22px;
    margin-bottom: 75px;
  }

  .popup__submit {
    font-size: 14px;
    line-height: 17px;
  }

  .popup__inputs {
    margin-bottom: 45px;
  }

  .popup__input {
    padding-bottom: 10px;
}
}

/* ---------------------------------------- */
/* search page                              */
/* ---------------------------------------- */

// @import url(./comp-styles/search.scss);

.search {
  --width: 50rem;
  --padding: 1rem;

  width: min(var(--width), 100% - var(--padding) * 2);
  margin-inline: auto;
  display: grid;
  gap: clamp(2rem, 7vw, 5rem);

  &__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
  }

  &__link {
    min-width: fit-content;
    text-decoration: none;
    color: inherit;
    font-size: var(--fs-500);
    position: relative;
    letter-spacing: 2px;
    transition: all 200ms ease-in;

    &:hover {
      opacity: .6;
    }
  }

  &__bar {
    padding: .75rem 2rem;
    width: 100%;
    background: transparent;
    border: 1px solid hsl(var(--clr-primary-900), .2);
    border-radius: 100vmax;
    color: hsl(var(--clr-primary-900));

    &:focus,
    &:focus-visible {
      outline: 1px solid hsl(var(--clr-primary-900));
    }

    &::selection {
      background-color: hsl(var(--clr-primary-900));
      color: hsl(var(--clr-primary-100));
    }
  }

  &__userlist {
    list-style: none;
    display: grid;
    gap: 1rem;
  }
}

/* ---------------------------------------- */
/* user component                           */
/* ---------------------------------------- */

// @import url(./comp-styles/user.scss);

.user {
  border-bottom: 1px solid hsl(var(--clr-primary-900), .2);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__chat {
    width: 20px;
    height: 20px;
    object-fit: cover;
    cursor: pointer;
    transition: all 200ms ease-in;

    &:hover {
      opacity: .6;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
  }

  &__icons {
    display: flex;
    gap: 1rem;
  }

  &__picture {
    --box-sizing: 5.5rem;

    width: var(--box-sizing);
    height: var(--box-sizing);
    border-radius: 50%;
    object-fit: cover;
  }

  &__heading {
    font-size: var(--fs-650);
    font-weight: var(--fw-600);
  }

  &__status {
    font-size: var(--fs-300);
    font-weight: var(--fw-300);
  }

  &__icon {
    width: 20px;
    height: 20px;
    object-fit: cover;
    transition: all 200ms ease-in;

    &:hover {
      opacity: .6;
    }
  }
}

