/* ---------------------------------------- */
/* imported reset                           */
/* ---------------------------------------- */

@import url(./reset.scss);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

/* ---------------------------------------- */
/* variables, selection, scrollbar          */
/* ---------------------------------------- */

:root {
  --clr-primary-100: 0, 0%, 0%;
  --clr-primary-200: 0, 0%, 20%;
  --clr-primary-900: 0, 0%, 100%;

  --clr-accent: 0, 0%, 33%;

  --ff-primary: 'Montserrat', 'Inter', sans-serif;

  --fw-300: 300;
  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;

  --fs-200: .75rem;
  --fs-300: 1rem;
  --fs-400: 1.125rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-650: 2rem;
  --fs-700: 2.5rem;
  --fs-800: 3rem;
  --fs-900: 3.5rem;

  --size-s: .25rem;

  --timing-function-primary: ease-in;
  --transition-time-primary: 200ms;
}

::selection {
  background-color: hsl(var(--clr-primary-900));
  color: hsl(var(--clr-primary-100));
}

::-webkit-scrollbar {
  width: var(--size-s);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(var(--clr-primary-900), .5);
  border-radius: 100vmax;
}

/* ---------------------------------------- */
/* body and root                            */
/* ---------------------------------------- */

body {
  background-color: hsl(var(--clr-primary-100));
  color: hsl(var(--clr-primary-900));
  font-family: var(--ff-primary);
  font-weight: var(--fw-400);
  font-size: var(--fs-400);
  padding: 45px 0 60px;
  min-height: 100vh;

  display: grid;
}

.container {
  --width: 50rem;
  --padding: 1rem;

  width: min(var(--width), 100% - 1rem);
  margin-inline: auto;
}

#root {
  display: grid;
  place-items: start;
  min-height: 40vh;
}

/* ---------------------------------------- */
/* auth component                           */
/* ---------------------------------------- */

.auth {
  display: grid;
  gap: 2rem;
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  place-self: center;

  background-color: hsl(var(--clr-primary-200), .4);

  .img-container {
    display: flex;
    margin-bottom: 4rem;
  }

  &__logo {
    max-width: 142px;
  }

  &__header {
    font-size: var(--fs-700);
    font-weight: var(--fw-700);
  }

  &__signin {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    padding: .75rem 2rem;

    background-color: hsl(var(--clr-primary-100));
    color: hsl(var(--clr-primary-900));
    font-weight: var(--fw-600);

    border-radius: 100vmax;
    border: 1px solid hsl(var(--clr-primary-900));

    transition: all var(--transition-time-primary) var(--timing-function-primary);
    cursor: pointer;
  }

  &__signin:hover {
    background-color: hsl(var(--clr-primary-900));
    color: hsl(var(--clr-primary-100));
  }

  .signin-icon {
    max-width: 25px;
  }
}

/* ---------------------------------------- */
/* sign out component                       */
/* ---------------------------------------- */

.signout {
  background-color: hsl(var(--clr-primary-100));
  border: 1px solid hsl(var(--clr-primary-900));
  border-radius: .125rem;
  color: hsl(var(--clr-primary-900));
  padding: .25rem .75rem;
  transition: all var(--transition-time-primary) var(--timing-function-primary);
  opacity: .5;
  cursor: pointer;
  font-size: clamp(var(--fs-200), 3vw, var(--fs-400));

  &:hover {
    opacity: 1;
  }
}

/* ---------------------------------------- */
/* header component                         */
/* ---------------------------------------- */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 40px;
  padding: 0 0 41px;

  border-bottom: 1px solid hsl(var(--clr-accent), .7);

  &__logo {
    max-width: 142px;
  }

  &__search {
    text-decoration: none;
    color: inherit;
    font-weight: var(--fw-600);
    display: flex;
    gap: .5rem;
    opacity: .5;
    transition: all var(--transition-time-primary) var(--timing-function-primary);

    &:hover {
      opacity: 1;
    }
  }

  &__icon {
    --icon-sizing: clamp(1.5rem, 4vw, 1.875rem);

    width: var(--icon-sizing);
    height: var(--icon-sizing);
    object-fit: cover;
    transition: all var(--transition-time-primary) var(--timing-function-primary);
    opacity: .6;

    &:hover {
      opacity: 1;
    }
  }

  &__liked-icon {
    object-fit: contain;
    opacity: .3;
  }

  &__routes {
    display: flex;
    gap: clamp(.3rem, 2vw, 1rem);
    justify-content: space-between;
    align-items: center;
  }
}

.header-profile__link {
  width: 40px;
  aspect-ratio: 1;
  transition: opacity var(--transition-time-primary) var(--timing-function-primary);

  &:hover {
    opacity: .6;
  }
}

.icons-wrapper {
  display: flex;
  gap: 1rem;
}

@media (max-width: 890px) {
  .header {
    padding: 0 clamp(0px, 4vw, 27px) 31.6px;
    margin-bottom: 42px;
  }

  .header__logo {
    max-width: 103px;
  }
}

/* ---------------------------------------- */
/* profile component                        */
/* ---------------------------------------- */

.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 0 50px;

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  &__avatar {
    position: relative;
    display: block;
    width: 120px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 100vmax;
    border: 3px solid hsl(var(--clr-primary-900), 0);
    transition: all calc(var(--transition-time-primary) * 2) var(--timing-function-primary);

    &:hover {
      cursor: pointer;
      border: 3px solid hsl(var(--clr-primary-900));
    }
  }

  &__avatar--empty {
    display: block;
    width: 120px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 100vmax;
    background-color: hsl(var(--clr-primary-900));
    animation: opacious 5s linear infinite;
  }

  &__info {
    display: grid;
    gap: 16px;
  }

  &__add-button {
    width: min(150px, 100%);
    height: 50px;
    background: transparent url(../assets/pluss.svg) no-repeat center;
    border: 2px solid hsl(var(--clr-primary-900));
    border-radius: 2px;
    transition: opacity var(--transition-time-primary) var(--timing-function-primary);
    cursor: pointer;

    &:hover {
      opacity: .6;
    }
  }

  &__info-wrapper {
    display: flex;
    gap: 18px;
    align-items: center;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  &__header {
    font-weight: var(--fw-600);
    font-size: var(--fs-700);
    line-height: 48px;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 294px;
  }

  &__header--empty {
    width: clamp(200px, 6vw, 294px);
    height: 48px;
    background-color: hsl(var(--clr-primary-900));
    animation: opacious 5s linear infinite;
  }

  .profile__edit-button {
    background: transparent url(../assets/edit.svg) no-repeat center;
    background-size: cover;
    border: none;
    width: 24px;
    aspect-ratio: 1;
    transition: opacity var(--transition-time-primary) var(--timing-function-primary);
    cursor: pointer;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .profile__edit-button:hover {
    opacity: .6;
  }
}

@media (max-width: 890px) {
  .profile {
    padding-inline: 19px;
  }
}

@media (max-width: 690px) {
  .profile {
    flex-direction: column;
    gap: 34px;
    text-align: center;
    padding-inline: 19px;

    margin: 0 0 36px;

    &__wrapper {
      gap: 26px;
      flex-direction: column;
    }

    &__info {
      gap: 14px;
    }

    &__info-wrapper {
      gap: 10px;
      justify-content: center;
    }

    &__add-button {
      width: 100%;
      background-size: 16px;
    }

    &__header {
      font-size: 27px;
      line-height: 26px;
      max-width: 189px;
    }
  }
}

.explosive {
  animation: explode 400ms forwards;
}

@keyframes explode {
  0% {
    scale: 1;
    background-image: url(../assets/like.svg);
  }
  25% {
    scale: .7;
  }
  50% {
    scale: 1.3;
    background-image: url(../assets/like-red.svg);
  }
  100% {
    scale: 1;
    background-image: url(../assets/like-red.svg);
  }
}

/* ---------------------------------------- */
/* cards component                          */
/* ---------------------------------------- */

.cards {
  display: grid;    
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  text-overflow: ellipsis;
  column-gap: 17px;
  row-gap: 20px;

  margin: 0 0 66px;
}

.cards--empty {
  min-height: 40vw;
  place-items: center;

  &__wrapper {
    display: grid;
    place-items: center;
  }

  &__header {
    font-size: var(--fs-800);
    font-weight: var(--fw-700);
    text-align: center;
  }
}

@media (max-width: 890px) {
  .cards {
    padding-inline: 19px;
    margin-bottom: 48px;
  }
}

/* ---------------------------------------- */
/* card component                           */
/* ---------------------------------------- */

.card {
  background-color: hsl(var(--clr-primary-900));
  color: hsl(var(--clr-primary-100));
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  isolation: isolate;

  &--loading {
    width: 100%;
    height: 367px;
    animation: opacious 5s linear infinite;
  }

  &__image {
    display: block;
    width: 100%;
    height: 282px;
    object-fit: cover;
    transition: var(--transition-time-primary) var(--timing-function-primary);
    position: relative;
    z-index: 1;
    cursor: pointer;
  }

  &__imgwrapper {
    position: relative;
  }

  &__imgwrapper::after {
    content: "";
    position: absolute;
    z-index: 20000;
    inset: 0;

    background-color: hsl(var(--clr-primary-100));
    pointer-events: none;
    opacity: 0;

    transition: opacity var(--transition-time-primary) var(--timing-function-primary);
  }

  &__imgwrapper:hover::after {
    opacity: .3;
  }

  &__delete {
    position: absolute;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    background: transparent url(../assets/close.svg) no-repeat center;
    background-size: contain;
    border: none;
    width: 20px;
    aspect-ratio: 1;
    opacity: 0;
    cursor: pointer;
    transition: all var(--transition-time-primary) var(--timing-function-primary);
  }

  &:hover &__delete {
    opacity: .8;
  }

  &:hover &__delete:hover {
    opacity: 1;
  }

  &__like {
    --sizing: 22px;

    width: var(--sizing);
    height: var(--sizing);
    border-radius: 40%;
    border: none;
    background: transparent no-repeat center;
    background-size: contain;
    transition: opacity var(--transition-time-primary) var(--timing-function-primary);
    cursor: pointer;

    &:hover {
      opacity: .5;
    }
  }

  &__action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 15px 31px 21px;
    position: relative;
    z-index: 1000;
  }

  &__action--liked {
    flex-direction: column;
    align-items: flex-start;
  }

  &__creator {
    font-size: var(--fs-200);
  }

  &__description {
    font-weight: var(--fw-700);
    font-size: var(--fs-600);
    line-height: 29px;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 195px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

@keyframes opacious {
  0% {
    opacity: 1;
  }
  25% {
    opacity: .7;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: .7;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 890px) {
  .card__image {
    max-height: 300px;
  }

  .card__delete {
    opacity: 1;
  }
}

@media (max-width: 320px) {
  .card__image {
    height: 282px;
  }
}

/* ---------------------------------------- */
/* footer component                         */
/* ---------------------------------------- */

.footer__mesto {
  color: hsl(var(--clr-accent));
  font-size: var(--fs-300);
  line-height: 22px;
}

@media (max-width: 890px) {
  .footer {
    padding-left: 19px;
  }

  .footer__mesto {
    font-size: 14px;
    line-height: 17px;
  }
}

/* ---------------------------------------- */
/* popup                                    */
/* ---------------------------------------- */

.popup {
  position: fixed;
  display: none;
  place-items: center;
  inset: 0;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: hsl(var(--clr-primary-100), .5);
    z-index: var(--z-300);
  }

  &--image::before {
    background: hsl(var(--clr-primary-100), .9);
  }

  &__container {
    position: relative;
    isolation: isolate;
    background-color: hsl(var(--clr-primary-900));
    color: hsl(var(--clr-primary-100));
    border: none;
    border-radius: 10px;

    z-index: 1000;
    width: min(430px, 100% - 38px);

    padding: 34px 36px 37px;
  }

  &--image__container {
    width: fit-content;
    margin-inline: auto;
    background-color: hsl(var(--clr-primary-900));
    border-radius: 10px;
    padding-bottom: .5rem;
  }

  &__container--image {
    width: min(1000px, 100% - 10px);
    padding: 0;
    background: none;
  }

  .textarea {
    display: grid;
    gap: .2rem;
    padding: clamp(1rem, 3vw, 2rem);
  }

  &__comment {
    width: 100%;
    border: 0;
    color: hsl(var(--clr-primary-100));
    border-bottom: 2px solid hsl(var(--clr-primary-100), .3);
    padding: .25rem;
    transition: all var(--timing-function-primary) var(--transition-time-primary);

    &:hover {
      border-bottom: 2px solid hsl(var(--clr-primary-100), .6);
    }

    &:focus,
    &:focus-visible {
      outline: none;
      border-bottom: 2px solid hsl(var(--clr-primary-100), 1);
    }

    &::selection {
      background-color: hsl(var(--clr-primary-100));
      color: hsl(var(--clr-primary-900));
    }
  }

  &__image {
    object-fit: cover;
    object-position: center;
    max-height: 500px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-inline: auto;
    width: 100%;
  }

  &__caption {
    text-transform: uppercase;
    color: hsl(var(--clr-primary-100));
    font-weight: var(--fw-700);
    font-size: clamp(var(--fs-400), 5vw, var(--fs-600));
  }

  &__form {
    display: grid;
  }

  &__close {
    --positioning: -40px;

    position: absolute;
    right: var(--positioning);
    top: var(--positioning);

    background: transparent url(../assets/close.svg) no-repeat center;
    border: none;
    width: 32px;
    aspect-ratio: 1;

    cursor: pointer;
    transition: opacity var(--transition-time-primary) var(--timing-function-primary);

    &:hover {
      opacity: .6;
    }
  }

  &_opened {
    display: grid;
    transition: all var(--transition-time-primary) var(--timing-function-primary);
    overflow-y: scroll;
  }

  &__header {
    font-weight: var(--fw-700);
    font-size: var(--fs-600);
    line-height: 29px;

    margin: 0 0 54px;
  }

  &__submit {
    border: none;
    border-radius: 2px;
    background: hsl(var(--clr-primary-100));
    color: hsl(var(--clr-primary-900));
    font-size: var(--fs-300);
    text-align: center;
    line-height: 22px;

    padding: 12px 0 16px;

    transition: opacity var(--transition-time-primary) var(--timing-function-primary);
    cursor: pointer;

    &:hover {
      opacity: .8;
    }
  }

  &__inputs {
    display: grid;
    gap: 27px;
    margin-bottom: 40px;
  }

  &__input {
    background: transparent;
    border: none;
    border-bottom: 1px solid hsl(var(--clr-primary-100), .2);
    font-size: 14px;
    line-height: 17px;

    padding: 0 0 13px;
  }
}

.comments {
  display: grid;
  gap: .5rem;
  list-style: none;
  max-height: 160px;
  overflow-x: scroll;
  scroll-snap-type: proximity;

  &::-webkit-scrollbar {
    width: .25rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: hsl(var(--clr-primary-100), .6);
    border-radius: 100vmax;
  }
}

.comment {
  display: flex;
  align-items: center;
  gap: 1rem;

  &__icon {
    --sizing: clamp(2.5rem, 3vw, 3.5rem);

    width: var(--sizing);
    height: var(--sizing);
    border-radius: 50%;
  }

  &__info {
    display: flex;
    gap: 1rem;
    font-weight: var(--fw-600);
  }

  &__creator,
  &__date,
  &__message {
    font-size: clamp(var(--fs-200), 3vw, var(--fs-400));
  }
}

.popup__input:focus,
.popup__input:focus-visible {
  outline: none;
}

.popup__input::selection {
  background-color: black;
  color: white;
}

.popup[data-visible="true"] {
  animation: fadein 200ms linear;
}

.popup[data-visible="false"] {
  animation: fadeout 200ms linear;
}

@media (max-width: 1200px) {
  .popup__close--image {
    --positioning: -25px;


    width: 20px;
    right: 0px;
    background-size: contain;
  }
}

@media (max-width: 550px) {
  .popup__close {
    --positioning: -15px;


    width: 20px;
    right: 0px;
    background-size: contain;
  }
}

@media (max-width: 420px) {
  .popup__container {
    padding: 25px 22px;
  }

  .popup__header {
    font-size: var(--fs-300);
    line-height: 22px;
    margin-bottom: 75px;
  }

  .popup__submit {
    font-size: 14px;
    line-height: 17px;
  }

  .popup__inputs {
    margin-bottom: 45px;
  }

  .popup__input {
    padding-bottom: 10px;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* ---------------------------------------- */
/* search page                              */
/* ---------------------------------------- */
.search {
  --width: 50rem;
  --padding: 1rem;

  width: min(var(--width), 100% - var(--padding) * 2);
  margin-inline: auto;
  display: grid;

  &__link {
    min-width: fit-content;
    text-decoration: none;
    color: inherit;
    font-size: var(--fs-500);
    position: relative;
    letter-spacing: 2px;
    transition: all 200ms ease-in;

    &:hover {
      opacity: .6;
    }
  }
}

.search__userlist {
  list-style: none;
  display: grid;
  gap: 1rem;
}
/* ---------------------------------------- */
/* user component                           */
/* ---------------------------------------- */

.user {
  border-bottom: 1px solid hsl(var(--clr-primary-900), .2);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__chat {
    width: 20px;
    height: 20px;
    object-fit: cover;
    cursor: pointer;
    transition: all 200ms ease-in;

    &:hover {
      opacity: .6;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
  }

  &__icons {
    display: flex;
    gap: 1rem;
  }

  &__picture {
    --box-sizing: clamp(3rem, 7vw, 5.5rem);

    aspect-ratio: 1;
    max-width: var(--box-sizing);
    max-height: var(--box-sizing);
    border-radius: 50%;
    object-fit: cover;
  }

  &__heading {
    font-size: clamp(var(--fs-500), 5vw, var(--fs-650));
    font-weight: var(--fw-600);
  }

  &__status {
    font-size: clamp(.75rem, 2vw, var(--fs-300));
    font-weight: var(--fw-300);
  }

  &__icon {
    width: 20px;
    height: 20px;
    object-fit: cover;
    transition: all 200ms ease-in;

    &:hover {
      opacity: .6;
    }
  }
}

@media (max-width: 40rem) {
  .user__icons {
    flex-direction: column;
  }

  .user__chat,
  .user__icon {
    object-fit: contain;
  }
}

/* ---------------------------------------- */
/* auser__noposts component                 */
/* ---------------------------------------- */

.auser__noposts {
  min-height: 40vh;
  display: grid;
  place-items: center;
  margin-bottom: 3rem;
  text-align: center;

  img {
    max-width: 50%;
  }

  p {
    font-size: clamp(var(--fs-400), 10vw, var(--fs-700));
    font-weight: var(--fw-700);
  }
}

/* ---------------------------------------- */
/* no-liked posts                           */
/* ---------------------------------------- */

.no-liked {
  min-height: 40vh;
  display: grid;
  place-items: center;

  &__wrapper {
    display: grid;
    place-items: center;
    gap: 1rem;
  }

  &__box {
    max-width: 50%;
  }

  &__heading {
    font-size: clamp(var(--fs-400), 10vw, var(--fs-700));
    font-weight: var(--fw-700);
  }
}

@media (max-width: 40rem) {
  .no-liked__heading {
    text-align: center;
  }
}

/* ---------------------------------------- */
/* error in errorboundary                   */
/* ---------------------------------------- */

.error {
  display: grid;
  place-items: center;
  margin-block: 3rem;
  text-align: center;

  &__heading {
    font-size: clamp(var(--fs-400), 10vw, var(--fs-700));
    font-weight: var(--fw-700);
  }
}

/* ---------------------------------------- */
/* chat component                           */
/* ---------------------------------------- */

.chat {
  display: grid;
  grid-template-rows: auto min-content;
  height: 68vh;
  overflow-y: scroll;
  width: 100%;

  &__meslist {
    list-style: none;
    display: grid;
    align-content: end;
    gap: 1rem;
  }

  &__empty {
    text-align: center;
    font-weight: var(--fw-600);
    font-size: clamp(var(--fs-400), 7vw, var(--fs-650));
    place-self: center;
  }
}

.item {
  display: grid;
  grid-template-columns: 1fr min-content;

  height: fit-content;
  padding: 1rem;
  background-color: hsl(var(--clr-accent), .3);
  border-radius: .5rem;

  &__wrapper {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  &__info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .5rem;
  }

  &__row-one {
    display: flex;
    gap: 1rem;
  }

  &__creator,
  &__time {
    opacity: .8;
    font-size: clamp(var(--fs-300), 4vw, var(--fs-400));
  }

  &__icon {
    width: clamp(3rem, 7vw, 6rem);
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
  }

  &__message {
    font-size: clamp(var(--fs-300), 4vw, var(--fs-400));
  }

  &__delete {
    --sizing: 1.5rem;

    width: var(--sizing);
    height: var(--sizing);
    place-self: center;
    border: none;
    background: transparent url(../assets/close.svg) center;
    background-size: contain;
    opacity: 0;
    cursor: pointer;
    transition: opacity var(--transition-time-primary) var(--timing-function-primary);
  }

  &:hover &__delete {
    opacity: 1;
  }
}

.form__img {
  --spacing: 2.5rem;
  width: var(--spacing);
  height: var(--spacing);
  object-fit: cover;
  object-position: bottom center;
  transition: all 200ms ease-in;
  cursor: pointer;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  opacity: .6;

  &:hover {
    opacity: 1;
  }
}

.chat__form {
  margin-top: 1.5rem;

  form {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  input {
    width: 100%;
    padding: .75rem 2rem;
    border-radius: 100vmax;
    border: 1px solid hsl(var(--clr-primary-900));
    background-color: hsl(var(--clr-primary-100));
    color: hsl(var(--clr-primary-900));
    transition: all var(--transition-time-primary) var(--timing-function-primary);

    &:focus {
      outline: none;
      border: 1px solid hsl(300, 88%, 46%);
    }
  }
}

.dummyscroll {
  width: 0;
  height: 0;
}

@media (max-width: 800px) {
  .item__delete {
    --sizing: 1rem;

    opacity: .7;
  }
}
