body {
    background-color: hsl(var(--clr-primary-100));
    color: hsl(var(--clr-primary-900));
    font-family: var(--ff-primary);
    font-weight: var(--fw-400);
    font-size: var(--fs-400);
    padding: 45px 0 60px;
  }
  
  .container {
    --width: 50rem;
    --padding: 1rem;
  
    width: min(var(--width), 100% - 1rem);
    margin-inline: auto;
  }
  
  #root {
    display: grid;
    place-items: center;
    min-height: 100vh;
  }
  
  #root:has(.header-profile) {
    place-items: start;
  }
  
  #root:has(.search) {
    place-items: start;
  }