.search {
    --width: 50rem;
    --padding: 1rem;
  
    width: min(var(--width), 100% - var(--padding) * 2);
    margin-inline: auto;
    display: grid;
    gap: clamp(2rem, 7vw, 5rem);
  
    &__form {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 3rem;
    }
  
    &__link {
      min-width: fit-content;
      text-decoration: none;
      color: inherit;
      font-size: var(--fs-500);
      position: relative;
      letter-spacing: 2px;
      transition: all 200ms ease-in;
  
      &:hover {
        opacity: .6;
      }
    }
  
    &__bar {
      padding: .75rem 2rem;
      width: 100%;
      background: transparent;
      border: 1px solid hsl(var(--clr-primary-900), .2);
      border-radius: 100vmax;
      color: hsl(var(--clr-primary-900));
  
      &:focus,
      &:focus-visible {
        outline: 1px solid hsl(var(--clr-primary-900));
      }
  
      &::selection {
        background-color: hsl(var(--clr-primary-900));
        color: hsl(var(--clr-primary-100));
      }
    }
  
    &__userlist {
      list-style: none;
      display: grid;
      gap: 1rem;
    }
  }