.user {
    border-bottom: 1px solid hsl(var(--clr-primary-900), .2);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    &__chat {
      width: 20px;
      height: 20px;
      object-fit: cover;
      cursor: pointer;
      transition: all 200ms ease-in;
  
      &:hover {
        opacity: .6;
      }
    }
  
    &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1.5rem;
    }
  
    &__icons {
      display: flex;
      gap: 1rem;
    }
  
    &__picture {
      --box-sizing: 5.5rem;
  
      width: var(--box-sizing);
      height: var(--box-sizing);
      border-radius: 50%;
      object-fit: cover;
    }
  
    &__heading {
      font-size: var(--fs-650);
      font-weight: var(--fw-600);
    }
  
    &__status {
      font-size: var(--fs-300);
      font-weight: var(--fw-300);
    }
  
    &__icon {
      width: 20px;
      height: 20px;
      object-fit: cover;
      transition: all 200ms ease-in;
  
      &:hover {
        opacity: .6;
      }
    }
  }